<div class = "shadow p-4 border">
    <div class = "flex justify-between p-4">
        <h2 class = "text-xl font-semibold">Students Data</h2>
        <button mat-raised-button color = "primary" routerLink ="/students/add">
            Add User</button>
    </div>
   
    <table class>
        <thead class>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Roll Number</th>
                <th>Mobile Number</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @for (student of students; track $index){
                <tr>
                    <td>{{ student.name }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.roll}}</td>
                    <td>{{ student.mobile }}</td>
                    <td>
                        <button mat-raised-button color = "accent" class ="m-4" [routerLink] ="'/students/'+student._id">Edit</button>
                        <button mat-raised-button color = "primary" (click) = "delete(student._id)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table> 

</div>